* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #010816;
}

.content {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    padding: 1rem;
    background-color: #30333A;
    color: #f4f5f6
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}